.comments{
    margin-top: 5%;
    margin-left: 20px;
}
body{
    overflow-x: hidden;
}

.comment{
    float: left;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    
}
.comment a{
    text-decoration: none;
    font-size: medium;
}
.comment a,.comment span{
    display: inline;
}

.comment p,.comment span{
    color: rgb(2, 2, 2);
}

h1,a{
    color: rgb(2, 2, 2);;
    font-weight: 600;
}